﻿@model JobAssigment.ViewModels.Job.CreateJobViewModel

@{
    ViewData["Title"] = "Create Job";
}

<div class="col-lg-4">
    <form method="post" asp-controller="Job" asp-action="Create">

        <div class="form-group">
            <label asp-for="JobName"></label>
            <input class="form-control" asp-for="JobName">
            <span asp-validation-for="JobName"></span>
        </div>

        <div class="form-group">
            <label asp-for="StartTheJob"></label>
            <input class="form-control" asp-for="StartTheJob">
        </div>

        <div class="form-group">
            <label asp-for="EndTheJob"></label>
            <input class="form-control" asp-for="EndTheJob">
        </div>

        <div class="form-group">
            <label asp-for="DeadLine"></label>
            <input class="form-control" asp-for="DeadLine">
        </div>

        <div class="form-group">
            <label asp-for="AssignedToEmployeeId"></label>
            <select class="form-control" asp-for="AssignedToEmployeeId">
                @foreach(var employee in Model.AvailableEmployees)
                {
                <option value="@employee.Value"> @employee.Text </option>
                }
            </select>
        </div>

        <button type="submit" class="btn btn-primary">CREATE JOB</button>
    </form>
</div>
