﻿@model JobAssigment.ViewModels.Job.EditViewModel

@{
    ViewData["Title"] = "Edit Job";
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>
    @Html.HiddenFor(x => x.Id)
    @using (Html.BeginForm("Edit", "Job", FormMethod.Post))
    {
    <p>
        @Html.LabelFor(x => x.JobName)
        @Html.EditorFor(x => x.JobName)
        @Html.ValidationMessageFor(x => x.JobName)
    </p>
    <p>
        @Html.LabelFor(x => x.StartTheJob)
        @Html.EditorFor(x => x.StartTheJob)
        @Html.ValidationMessageFor(x => x.StartTheJob)
    </p>
    <p>
        @Html.LabelFor(x => x.EndTheJob)
        @Html.EditorFor(x => x.EndTheJob)
        @Html.ValidationMessageFor(x => x.EndTheJob)
    </p>
    <p>
        @Html.LabelFor(x => x.DeadLine)
        @Html.EditorFor(x => x.DeadLine)
        @Html.ValidationMessageFor(x => x.DeadLine)
    </p>
    <p>
        @Html.LabelFor(x => x.AvailableEmployees)
        @Html.DropDownListFor(x => x.AssignedToEmployeeId, Model.AvailableEmployees)
        @Html.ValidationMessageFor(x => x.AvailableEmployees)
    </p>

    <input type="submit" value="SAVE EDITED JOB" />
    }
</body>
</html>