﻿@model JobAssigment.ViewModels.JobDetails.DetailsViewModel

@{
    ViewData["Title"] = "Job details";
}

<form method="post" asp-controller="JobDetails" asp-action="AddDescription">
    <input asp-for="Id" type="hidden" />
    <div>
        <div class="row">
            <div class="col-lg-6">Owner: @Model.OwnerName</div>
            <div class="col-lg-6">Assigned employee: @Model.AssignedEmployeeName</div>
        </div>
        <hr />
        <div class="row">
            <textarea class="form-control col-lg-6 offset-3" asp-for="Description" rows="10"></textarea>
        </div>
        <div class="row">
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
    </div>
</form>
