﻿@model JobAssigment.ViewModels.Home.IndexViewModel
@using JobAssigment.ViewModels.Home

@{
    ViewData["Title"] = "Home Page";

    int rowCount = 1;
}


<form method="post" asp-controller="Home" asp-action="Filter" class="alert-light">
    <div class="form-group">
        <select class="form-control" asp-for="SelectedStatus">
            <option value="@JobStatus.Accepted" class="form-control">Accapted Job</option>
            <option value="@JobStatus.Declined" class="form-control">Declined Job</option>
            <option value="@JobStatus.Pending" class="form-control">Pending Job</option>
        </select>
    </div>


    <button type="submit" class="btn btn-primary" style="margin:10px">Filter</button>
</form>

<div class="alert-light">
    <table class="table table-striped table-dark">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Job</th>
                <th scope="col">Owner (manager)</th>
                <th scope="col">Assigned to</th>
                <th scope="col">Deadline</th>
                <th scope="col">Assignee accepted</th>
                <th scope="col">Buttons</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var row in Model.IndexListItems)
            {
            <tr>
                <th scope="row">@Html.Raw((rowCount++).ToString())</th>
                <td>@row.Name  </td>
                <td>@row.OwnerName </td>
                <td>@row.AssignedEmployeeName </td>
                <td>@row.DeadLine.ToString("yyyy-MM-dd HH:mm")</td>
                <td class="align-content-lg-center" align="center">
                    @if (row.IsAcceptedTheJob.HasValue)
                    {
                    if (row.IsAcceptedTheJob.Value)
                    {
                    <i class="fas fa-check" ></i>
                    }
                    else
                    {
                    <i class="fas fa-times"></i>
                    }
                    }
                    else
                    {
                    <i class="fas fa-question"></i>
                    }

                </td>
                <td>
                    @if (Model.IsAdmin)
                    {


                    <a class="btn btn-warning" asp-controller="Job" asp-action="Edit" asp-route-id="@row.Id">
                        Edit
                    </a>
                    <a class="btn btn-danger" asp-controller="Job" asp-action="Delete" asp-route-id="@row.Id">
                        Delete
                    </a>
                    }
                    else if(!row.IsAcceptedTheJob.HasValue)
                    {
                    <a class="btn btn-primary" style="margin-right:10px" asp-controller="Job" asp-action="AcceptJob" asp-route-id="@row.Id">
                        Accept
                    </a>
                    <a class="btn btn-secondary" asp-controller="Job" asp-action="DeclineJob" asp-route-id="@row.Id" style="margin-right:10px">
                        Decline
                    </a>
                    }
                    <a class=" btn btn-primary" asp-controller="JobDetails" asp-action="Index" asp-route-id="@row.Id">
                        Details
                    </a>

                </td>
            </tr>
            }
        </tbody>
    </table>
</div>
